footer {
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #CCCCCC;
}

footer p {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
