header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
    vertical-align: middle;
}

.logo {
    
    background: url("../images/logo.png") no-repeat;
    height: 100%;
    margin: auto;
}
