.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    margin-left: 16%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    display: flex;
    position: relative;
    align-items: center;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    vertical-align: middle;
    margin: auto 30px auto auto;
    opacity: 1;
    border: none;
}


.locations, .amenities {
    height: 100%;
    width: 25%;
    padding-left: 50px;
}

.locations {
    border-right: 1px #DDDDDD solid;
    
}

.filters div h3{
    font-weight: 600;

}

.filters div h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}