.filters {
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}

.filters button {
    background-color: #FF5A5F;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
    height: 48px;
    width: 20%;
}

.filters button:hover {
    opacity: 90%;
}

.filters .locations,
.filters .amenities {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.filters .locations h3,
.filters .amenities h3 {
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 4px;
    margin-left: 40px;
}

.filters .locations h4,
.filters .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 16px;
    margin-left: 40px;
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
}

.filters .locations:hover .popover {
    display: block;
}

.filters .amenities:hover .popover {
    display: block;
}

.popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: none;
    margin: 0;
    padding-bottom: 39px;
    padding-left: 23px;
    padding-top: 23px;
    z-index: 1;
}

.popover h2 {
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 0px;
}

.popover li {
    list-style: none;
    padding-left: 17px;
    line-height: 1.6;
}
