.filters {
    margin-left: 16%;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}
section.places {
    margin-left: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.places h1 {
    text-align: left;
    font-size: 30px;
    display: block;
    flex-basis: 100%;
}

section.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

section.places article h2 {
    font-size: 30px;
    text-align: center;
    line-height: 0;
    margin-bottom: 50px;
}

section.places article .price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    max-width: 1000%;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    float: right;
    margin-top: -80px;
    position: relative;

}

section.places article .price_by_night p {
    text-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
}

section.places article .information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.places article .information .max_guest,
section.places article .information .number_rooms,
section.places article .information .number_bathrooms {
    width: 100px;
}

section.places article .information .max_guest p,
section.places article .information .number_rooms p,
section.places article .information .number_bathrooms p {
    margin: 0;
    padding: 0;
    text-align: center;
}

section.places article .information .max_guest::before,
section.places article .information .number_rooms::before,
section.places article .information .number_bathrooms::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    z-index: -1;
}

section.places article .information .max_guest::before {
    background-image: url("/images/icon_group.png");
}

section.places article .information .number_rooms::before {
    background-image: url("/images/icon_bed.png");
}

section.places article .information .number_bathrooms::before {
    background-image: url("/images/icon_bath.png");
}

footer {
    position: relative;
}
